{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center mt-5">
				<h1>Home Page</h1>
				<img src="{{asset('assets/img/4k.jpg')}}" width="250"/>
			</div>
		</div>
	</div>
{% endblock %}
