#character {
    width   : 100px;
    height  : 100px;
    position: absolute;
    border  : 1px solid rgba(0, 0, 0, 0.1);
    top     : 150px;
    left    : 150px;
    z-index: 1;
}

#inventory {
    border-radius   : 25px 25px 25px 25px;
    height          : 33%;
    width           : 33%;
    top             : 33%;
    left            : 33%;
    z-index         : 5;
    position        : absolute;
    visibility      : hidden;
    padding         : 1%;
}

#healthBar {
    width        : 250px;
    position     : relative;
    height       : 50px;
    border       : 2px solid black;
    background   : linear-gradient(67deg, rgba(255,0,0,1) 0%, rgba(222,218,75,1) 45%, rgba(91,231,51,1) 100%);
    border-radius: 25px 25px 25px 25px;
    z-index      : 5;
}