progress {
	display: block;
}

#posteNomPrenom, #coordonnees{
	display: inline-block;
	vertical-align: top;
}

#coordonnees, .progressBar{
	float: right; 
}

#page {
	padding: 20px;
	margin: 20px 0px 20px 0px;
	height: 100%;
	border: 1px solid black;
	bottom: 0px;
	box-shadow: 15px 15px 20px -1px rgba(0,0,0,0.78);
	-webkit-box-shadow: 15px 15px 20px -1px rgba(0,0,0,0.78);
	-moz-box-shadow: 15px 15px 20px -1px rgba(0,0,0,0.78);
}

#entete {
	margin: 20px;
	padding: 10px;
}

.couleur {
	color : #1E73FF;
}

#blocExperiences {
	font-size: 16px;
}
