<!-- NAVBAR -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['/']">Doctolib</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- IF NON CONNECTER -->
              <li *ngIf="session.length == 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/login']">Se connecter</a>
              </li>
              <li *ngIf="session.length == 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/registerPatient']">M'inscrire</a>
              </li>
              <!-- IF CONNECTER -->
              <li *ngIf="session.length != 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']" (click)="logout()">Se déconnecter</a>
              </li>
              <li *ngIf="session.length != 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/account']">Mon compte</a>
              </li>
              <li *ngIf="session.length != 0"class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']">Mes rendez-vous</a>
              </li>
              <!-- OTHERS -->
              <li class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['']">Les praticiens</a>
              </li>
              <li *ngIf="session.length == 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link btn" [routerLink]="['/registerPraticien']">Vous êtes praticien ?</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- ROUTES -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER -->
