.navbar {
  background-color: #2688ca !important;
  -webkit-box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.75);
}

.nav-link , .navbar-brand{
  color: white !important;
}

#mainBlock {
  margin-top: 15%;
}

.btn {
  background   : linear-gradient(0deg, rgba(255,136,0,1) 0%, rgba(222,164,75,1) 32%, rgba(231,223,51,1) 100%);
  color : white;
}
