#userInfo, #rdv {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
}
h3{
  padding: 10px 0px 10px 0px;
}
.btn-info {
  background: linear-gradient(0deg, rgba(255,136,0,1) 0%, rgba(222,164,75,1) 32%, rgba(231,223,51,1) 100%) !important;
  color     : white !important;
}
