<div class="row">
  <div class="col-2"></div>

  <div class="col-8 mt-5">
    <div class="row">
      <div id="userInfo" class="col-6">
        <h3>Vos informations personnelles</h3><hr>
        <p><strong>Nom : </strong> {{userInfo.nom}}</p>
        <p><strong>Prénom : </strong> {{userInfo.prenom}}</p>

        <!-- CHECK TYPE OF USER -->
        <p *ngIf="type == 'patient'">
          <strong>Age : </strong> {{userInfo.age}}
        </p>
        <p *ngIf="type == 'praticien'">
          <strong>Spécialité : </strong> {{userInfo.specialite}}
        </p>

        <p><strong>Mail : </strong> {{userInfo.email}}</p>

        <div class="text-center mb-5">
          <a  (click)="deleteAccount(userInfo.id)" class="btn btn-outline-danger mr-2">
            supprimer mon compte
          </a>
          <a [routerLink]="['/modif']" class="btn btn-outline-primary ml-2">
            Modifier mon compte
          </a>
        </div>
      </div>

      <div class="col-1"></div>

      <div id="rdv" class="col-5">
        <h3>Vos rendez-vous</h3>
        <app-rdvs [namePatient]="namePatient" [namePraticien]="namePraticien" [rdvs]="allRdvs"></app-rdvs>
      </div>
    </div>
  </div>

  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>

  <div class="col-8">

  </div>

  <div class="col-2"></div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">
    Please Wait.
  </p>
</ngx-spinner>
