<h1>Confirmation de mon Symfony Bot !</h1>

<p>
    Veuillez confirmer votre addresse mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien exipre dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement !
</p>
