body {
	height: 100vh;
}

th {
	text-align: center;
	width     : 100px;
	height    : 100px;
}

td {
	border    : 1px solid black;
	width     : 100px;
	height    : 100px;
	text-align: center;
}

img {
	min-width: 90px;
	max-width: 90px;
	min-height: 90px;
	max-height: 90px;
}

.whiteCase {
	background-color: white;
}

.blackCase {
	background-color: grey;
	color           : white;
}