<div id="citation" class="row align-content-between px-5 my-5 fs-gratelos fs-3">
  <div class="col-12 position-relative mb-5">
    <div id="citation_card" class="col-12 position-relative p-3 border border-2 rounded border-dark bg-light">
      <p>{{citation.citation}}</p>

      <br/>

      <p class="text-end">- {{citation.author}}</p>
    </div>

    <div id="citation_shadow" class="position-absolute h-100 border border-2 rounded border-dark" [style.background-color]="bgcolor"></div>
  </div>

  <div class="col-12 position-relative mb-5">
    <div id="citation_image_card" class="col-12 position-relative p-3 border border-2 rounded border-dark bg-light text-center">
      <img width="200" id="happy-birthday" class="rotating" [src]="img" alt="Happy caracter"/>
    </div>

    <div id="citation_image_shadow" class="position-absolute h-100 border border-2 rounded border-dark" [style.background-color]="bgcolor"></div>
  </div>

  <div id="loader" class="col-12 position-relative text-center d-flex justify-content-center align-items-center">
    <span> 01 </span>

    <div id="loader-limit" class="position-relative border border-black border-2 rounded d-inline-block mx-2">
      <div id="loader-current" [style.background-color]="bgcolor" class="position-absolute rounded"></div>
    </div>

    <!-- <div id="loader-limit" class="position-relative border border-black rounded d-inline-block mx-2"></div> -->
    <!-- <div id="loader-current" [style.background-color]="bgcolor" class="position-absolute"></div> -->

    <span> 03 </span>
  </div>
</div>
