<div class="row">
  <div class="col-12 mt-5">

    <h2 class="text-center">Modification Praticien</h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="formModifPraticien" class="col-12">
      <div class="mb-3">
        <label for="Nom" class="form-label">Nom</label>
        <input type="text" class="form-control text-center" id="Nom" name="Nom" aria-describedby="Nom" [(ngModel)]="userInfo.nom">
      </div>

      <div class="mb-3">
        <label for="Nom" class="form-label">Prénom</label>
        <input type="text" class="form-control text-center" id="Prenom" name="Prenom" aria-describedby="PreNom" [(ngModel)]="userInfo.prenom">
      </div>

      <div class="mb-3">
        <label for="Specialite" class="form-label">Spécialité</label>
        <input type="text" class="form-control text-center" id="Specialite" name="Specialite" [(ngModel)]="userInfo.specialite">
      </div>

      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control text-center" id="Email" name="Email" [(ngModel)]="userInfo.email">
      </div>

      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control text-center" id="Password" name="Password" ngModel>
      </div>

      <button type="submit" class="btn btn-primary">Modification</button>
    </form>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">
    Please Wait.
  </p>
</ngx-spinner>
