<div id="birthday" class="row text-center align-content-between mt-5 py-5">
  <div class="col-12 position-relative">
    <img id="happy-birthday" class="rotating" src="assets/img/happy_birthday.svg" alt="Joyeux Anniversaire !"/>

    <img id="star_1" src="assets/img/star.svg" class="position-absolute"/>
    <img id="star_2" src="assets/img/star.svg" class="position-absolute"/>
    <img id="star_3" src="assets/img/star.svg" class="position-absolute"/>
  </div>

  <div class="col-12 mt-5">
    <span id="name" class="fs-milton">{{person.name}}</span>
  </div>
</div>
